<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quos quaerat soluta molestiae dolore architecto delectus autem culpa aut amet et, nihil quasi impedit iure saepe modi, harum laudantium quam rem, voluptates tempora! Consectetur amet quo minima. Rem molestiae assumenda tempora sit facere minima rerum voluptate voluptates ipsa. Quia perferendis facilis accusantium? Quidem molestias magnam quod laudantium, atque, tempora ea, eligendi ab deserunt dolorem eius repellendus! Non rem hic, quod esse commodi velit veniam. Cumque assumenda at voluptatem mollitia recusandae laudantium? Voluptate quam itaque quas quae hic facilis vero, et a ex porro amet fugit consequatur iusto veniam sint id rem, maiores fuga nemo excepturi animi, perferendis quidem nulla voluptas. Cumque eum quod labore molestiae doloremque aliquid, porro, reiciendis ipsum fugit doloribus exercitationem consequuntur distinctio itaque accusamus eaque praesentium. Veritatis harum qui iusto aperiam repellendus quae expedita vero repellat quos alias, aliquam asperiores minus omnis quam eveniet nemo debitis earum.<p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>